<%- include("header") -%>

<h1>About Us</h1>
<hr />
<p>
  <em>Train Time</em> is a platform where people can search for trains,their schedules and book them.
  Its all about train here.
  </p>



</body>
</html>
