<%- include('header') -%>
<p style="display : inline-block"> Login as: <%= username %> </p>
<h2 style=" display : inline-block;position:relative;left:29.5% ">Welcome to Train Time</h2>



<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card " width="100%">

        <img src="/images/3.jpg" alt="CardTop" class="card-img-top" height="500"  >
        <div class="titleH">
          <h1>Search Trains</h1>
            <a href="/search" class="btn btn-success btn-lg">Search</a>
        </div>

      </div>

    </div>

    <div class="col-md-4">
      <div class="card" width="10%">
        <img src="/images/2.jpg" alt="CardTop" class="card-img-top" height="500">
        <div class="titleH">
          <h1>Check Schedule</h1>
            <a href="/schedule" class="btn btn-success btn-lg">Check</a>
        </div>
      </div>

    </div>

    <div class="col-md-4">
      <div class="card" width="100%">
        <img src="/images/4.jpg" alt="CardTop" class="card-img-top" height="500" >
        <div class="titleH">
          <h1>Book Tickets</h1>
            <a href="/search" class="btn btn-success btn-lg"> Book </a>
        </div>
      </div>

    </div>

  </div>

</div>






<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
  // $('h1').css("color","gold");
</script>
</body>
</html>
